@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.allowCustomers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    background: linear-gradient(to bottom, #d4d4d4, #ffffff 60%);
    min-height: calc(100vh - 7rem);
    .title {
        font-size: 2.2rem;
        color: #ff7e67;
        margin-bottom: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        text-align: center;
        background: linear-gradient(20deg, #ff7e67, #ec5154);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fadeIn 1.5s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }

    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            flex: 1;
            max-width: 31.25rem;

            li {
                font-size: 1.4rem;
                color: #333;
                margin-bottom: 1rem;
                font-family: 'Poppins', sans-serif;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                transition: background-color 0.3s ease, transform 0.3s ease;

                p {
                    margin: 0;
                }

                &:hover {
                    background-color: rgba(69, 248, 99, 0.5);
                    transform: scale(1.05);
                }
            }
        }

        figure {
            margin: 0;
            padding: 0;
            flex: 1;
            max-width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            img {
                max-width: 100%;
                height: auto;
                transition: transform 0.3s ease-in-out;
            }

            &:hover {
                transform: scale(1.05);
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes zoomIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

// Responsividade
@media (max-width: 768px) {
    .allowCustomers {
        padding: 2rem 1rem;

        .title {
            font-size: 2rem;
        }

        .imageContainer {
            flex-direction: column;

            ul {
                margin-bottom: 2rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .allowCustomers {
        padding: 1rem;

        .title {
            font-size: 1.5rem;
        }

        .imageContainer {
            ul {
                li {
                    font-size: 1rem;
                }
            }
        }
    }
}