.registerBanner {
    background: linear-gradient(135deg, var(--color-primary), #feb47b);
    padding: 3rem;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1.5s ease-in-out;

    .bannerTitle {
        font-size: 2rem;
        color: var(--color-white);
        font-family: var(--font-secondary);
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .bannerButton {
        display: inline-block;
        padding: 0.75rem 2rem;
        background-color: var(--color-white);
        color: var(--color-primary);
        font-size: 1.2rem;
        font-family: var(--font-secondary);
        font-weight: 600;
        border-radius: .25rem;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: var(--color-primary);
            color: var(--color-white);
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
