.restaurantList {
    padding: 1.25rem;
    text-align: center;

    h1 {
        font-size: 2.5em;
        margin-bottom: 1.25rem;
        color: #333;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.25rem;
        justify-content: center;
    }

    .card {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: .5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 1.25rem;
        width: 18.75rem;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: .625rem;
            color: #444;
        }

        p {
            font-size: 1em;
            color: #666;
        }
    }
}
